.notesContainer {
    height: 100%;
    position: relative;
    padding-bottom: 2em;
  }

  .saveButtonContianer {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .saveButton {
    
  }

  .mdContainer {
    pointer-events: all;
    padding-bottom: 1em;
    /* max-height: 10em; */
    /* overflow: hidden; */
  }