.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  box-sizing: border-box;
}

.headerButtons button {
  margin: 0 0.5em;
}

.header h1 {
  color: var(--color-black);
  margin: 0;
  font-size: 2em;
} 

.headerInfoContainer .dateContaner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dateButtonContainer {
  margin: 0.7em 1em;
}

.dateButtonContainer button {
  color: var(--color-black);
  border: 0.04em solid var(--color-black);
  background-color: transparent;
  border-radius: 0.4em;
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  font-weight: 600;
}

.dateButtonContainer button:hover {
  background-color: var(--color-purpel);
  color: white;
}

.dateContaner p {
  color: var(--color-black);
  margin: 0;
  font-weight: 500;
}

 .leadsTableContainer { 
  margin: 1.5em 0;
}

.leadsTableContainerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.leadsTableContainerHeader h1 {
  color: var(--color-black);
  font-size: 1.6em;
  margin: 0;
}

.searchLabel {
  position: relative;
}

.searchLabel input {
  font-size: 0.9em;
  padding: 0.7em 2em;
  border-radius: 1em;
  color: var(--color-black);
  border: 0.2em solid var(--color-black);
}


.searchLabel img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.06em;
}