
/* ESTILOS DEL HOME */
/*  */
/*  */
#home form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

#fondoimgmenu {
    position: relative;
    height: 90vh;
    width: 34vw;
    
    border-radius: 65px;
    background: linear-gradient(180deg, #7D7DFF 0%, #001B8D 100%);
    box-shadow: -14px 12px 31px 0px #00000040 inset;
    
    justify-content: center;
    display: flex;
    justify-content: center;

    margin-right: 10%;
    position: absolute;
    left: 2.5vw;
    top: 5%;
}

#peces {
    position: relative;
    left: 10px;
    scale: 0.95;
}

h1 {
    font-size: 60px;
}

#home p{
    font-family: Futura PT;
    font-size: 30px;
    width: 800px;
    color: black;
    font-style: normal;
}

#logo {
    position: absolute;
    top: 7%;
    scale: 1.2;
    left:  7%;
}


input {
    height: 50px;
    width: 500px;
    /* left: 1012px; */
    /* top: 467px; */
    border-radius: 20px;
    margin: 10px;
    padding: 3px;
    font-family: Inter;
    color: grey;
    padding-left: 10px ;
    font-size: 20px;
    border: solid 1px;
}

#button1 {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    /* background: #7D7DFF; */
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    /* color: white; */
    border: solid 1px #7D7DFF;
    margin: 20px;
    color: #3030f0;
}

#button2 {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7D7DFF;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    margin: 20px;
}


/* ESTILOS PARA LOS PERFILAMIENTOS */
/*  */
/*  */

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.perfilamiento {
    height: 95vh;
    width: 95vw;
    /* left: 60px;
    top: 66px; */
    border-radius: 51px;
    background: linear-gradient(180deg, #7D7DFF 0%, #001B8D 100%);
    box-shadow: -14px 12px 31px 0px #00000040 inset;
    /* box-shadow: 0px 0px 45px 0px #00000080;  */
    justify-content: center;
    display: flex;
    justify-content: center;
    
}

.perfilamiento form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfilamiento form h1 {
    color: white;
    font-family: Futura;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

.perfilamiento form h2 {
    color: white;
    font-family: Futura PT;
    font-size: 40px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;

}

.botonContinuar {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7D7DFF;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    margin: 75px;
}

#inputInvisible {
    font-family: Futura PT;
    font-size: 40px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.46);
    padding-top: 10px;

}

select {
    height: 58px;
    width: 995px;
    left: 366px;
    top: 558px;
    border-radius: 13px;
    background: #797AFC5E;
    color: rgba(255, 255, 255, 0.668);
    font-family: Futura PT;
    font-size: 32px;
    font-weight: 450;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;


}

.perfilamiento p {
    font-family: Futura PT Book Italic;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}