
@font-face {
    font-family: 'PlexRegular';
    src: url('./ibmPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
    
}
@font-face {
    font-family: 'PlexItalic';
    src: url('./ibmPlexSans/IBMPlexSans-Italic.ttf') format('truetype');
    
}

@font-face {
    font-family: 'PlexMedium';
    src: url('./ibmPlexSans/IBMPlexSans-Medium.ttf') format('truetype');
    
}

@font-face {
    font-family: 'PlexThin';
    src: url('./ibmPlexSans/IBMPlexSans-Thin.ttf') format('truetype');
    
}

@font-face {
    font-family: 'PlexBold';
    src: url('./ibmPlexSans/IBMPlexSans-Bold.ttf') format('truetype');
    
}

/* ESTILOS DEL HOME */
/*  */
/*  */
html {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
   
    margin: 0;
    padding: 0;
}
#home form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    top: 5%;
    right: 15%;
}

#fondoimgmenu {
    position: absolute;
    height: 90vh;
    width: 34vw;
    
    border-radius: 65px;
    background: linear-gradient(180deg, #7D7DFF 0%, #001B8D 100%);
    box-shadow: -14px 12px 31px 0px #00000040 inset;
    
    justify-content: center;
    display: flex;
    justify-content: center;

    margin-right: 10%;
    
    left: 2.5vw;
    top: 5%;
    overflow:visible;
}

#peces {
    position: relative;
    left: 10px;
    scale: 0.95;
}

#home h1 {
    position: relative;
    /* right: 9.5vw; */
    right: 30%;
    top: 7vh;
}
h1 {
    font-size: 60px;
}

#home p{
    position: relative;
    font-family: PlexRegular;
    font-size: 30px;
    width: 600px;
    color: black;
    font-style: normal;
    /* left: 6vw; */
    left: 3%;
}

#logo {
    position: absolute;
    top: 7%;
    scale: 1.2;
    left:  7%;
}


#home input {
    height: 50px;
    width: 500px;
    /* left: 1012px; */
    /* top: 467px; */
    border-radius: 20px;
    margin: 10px;
    padding: 3px;
    font-family: Inter;
    color: grey;
    padding-left: 10px ;
    font-size: 20px;
    border: solid 1px;
}

.button1 {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    /* background: #7D7DFF; */
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    /* color: white; */
    border: solid 1px #7D7DFF;
    margin: 20px;
    color: #3030f0;
}

.button2 {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7D7DFF;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    margin: 20px;
}

.button3 {
    height: 50px;
    width: 220px;
    border: none;
    border-radius: 77px;
    padding: 15px;
    background: #F4F4F4;
    color: #2B2B2B;
    box-shadow:  0px 4px 4px rgba(124, 119, 119, 0.786);



}

.botonclarito {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    /* background: #7D7DFF; */
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    /* color: white; */
    border: solid 1px #7D7DFF;
    margin: 20px;
    color: #3030f0;
}


/* ESTILOS PARA LOS PERFILAMIENTOS */
/*  */
/*  */

.perfilamiento {
    height: 95vh;
    width: 95vw;
    /* left: 60px;
    top: 66px; */
    border-radius: 51px;
    background: linear-gradient(180deg, #7D7DFF 0%, #001B8D 100%);
    box-shadow: -14px 12px 31px 0px #00000040 inset;
    /* box-shadow: 0px 0px 45px 0px #00000080;  */
    justify-content: center;
    display: flex;
    justify-content: center;
    
}

.perfilamiento form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfilamiento form h1 {
    color: white;
    font-family: PlexRegular;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

.perfilamiento form h2 {
    color: white;
    font-family: PlexRegular;
    font-size: 40px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;

}

.botonContinuar {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7D7DFF;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    margin: 75px;
}

#inputInvisible {
    font-family: PlexRegular;
    font-size: 40px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.46);
    padding-top: 10px;

}

select {
    height: 58px;
    width: 995px;
    left: 366px;
    top: 558px;
    border-radius: 13px;
    background: #797AFC5E;
    color: rgba(255, 255, 255, 0.668);
    font-family: PlexRegular;
    font-size: 32px;
    font-weight: 450;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;


}

.perfilamiento p{
    font-family: PlexItalic;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}

/* ESTILOS PARA LA SECCIÓN DE PRODUCTO, NEWSLETTER, AUMENTAR RED, WEBINAR Y REUNIÓN */


.forms form{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.forms a {
    /* height: 50px;
    width: 150px; */
    position: relative;
    top: 80px;
    align-items: center;
    text-align: center;
    margin: 75px;
}
.botonSiguiente {
    font-family: Inter;
    height: 50px;
    width: 200px;
    border-radius: 70px;
    background: #001B8D;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    /* margin: 75px; */
}

.forms input {
    font-family: PlexRegular;
    font-size: 20px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    width: 50%;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #A8A8A8;
    padding-top: 10px;
}

.forms .etapa {
    font-family: PlexMedium;
    font-size: 24px;
    font-weight: 800;
    line-height: 31px;
    letter-spacing: 0.2em;
    text-align: center;
    color: #7D7DFF;          

}

.forms  h1 {
    color: black;
    font-family: PlexBold;
    font-size: 40px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;

}

.forms {
    background: linear-gradient(180deg, #001B8D 0%, rgba(0, 27, 141, 0) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.forms form {
    background-color: white;
    height: 90vh;
    width: 90vw;
    /* left: 60px;
    top: 66px; */
    border-radius: 51px;
    
    box-shadow: -14px 12px 31px 0px #00000040 inset;
    /* box-shadow: 0px 0px 45px 0px #00000080;  */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.forms p{
    position: relative;
    top: 20px;
    font-family: PlexMedium;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

}

.forms div h2 {
    position: relative;
    bottom: 35px;
    font-family: PlexItalic;
    font-size: 20px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;

}

/* ESTILOS PARA EL FORM DE IMPORTACION DE LEADS */
/* 
*/






