@font-face {
    font-family: 'PlexRegular';
    src: url('../../styles/ibmPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
    
}
@font-face {
    font-family: 'PlexItalic';
    src: url('../../styles/ibmPlexSans/IBMPlexSans-Italic.ttf') format('truetype');
    
}

@font-face {
    font-family: 'PlexMedium';
    src: url('../../styles/ibmPlexSans/IBMPlexSans-Medium.ttf') format('truetype');
    
}

@font-face {
    font-family: 'PlexThin';
    src: url('../../styles/ibmPlexSans/IBMPlexSans-Thin.ttf') format('truetype');
    
}

@font-face {
    font-family: 'PlexBold';
    src: url('../../styles/ibmPlexSans/IBMPlexSans-Bold.ttf') format('truetype');
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainArticle section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(237, 226, 226);
    margin: 50px;

}

.mainArticle section p{
    font-family: PlexItalic;
} 

#botones {
    display: flex;
    flex-direction: row;
}

.mainDiv{
    /* background: linear-gradient(180deg, #001B8D 0%, rgba(0, 27, 141, 0) 100%); */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
}

.formPerfilamiento {
    position: relative;
    background: linear-gradient(180deg, #7D7DFF 0%, #001B8D 100%);
    width: 90vw;
    height: clamp(800px,900px,1100px);
    border-radius: 51px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv form h1 {
    color: white;
    font-family: PlexRegular;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

.mainArticle section {
    color: white;
}



.mainDiv form h2 {
    color: white;
    font-family: PlexRegular;
    font-size: 40px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;

}

.botonClarito{
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7d7dff00;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    /* margin: 75px; */
    border: 2px solid white;
}
.botonContinuar {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7D7DFF;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    margin: 75px;
}

#inputInvisible {
    font-family: PlexRegular;
    font-size: 40px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.46);
    padding-top: 10px;

}

select {
    height: 58px;
    width: 995px;
    left: 366px;
    top: 558px;
    border-radius: 13px;
    background: #3c3c725e;
    color: rgba(255, 255, 255, 0.668);
    font-family: PlexRegular;
    font-size: 32px;
    font-weight: 450;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;


}

.mainDiv p{
    font-family: PlexItalic;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}


.volver{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1%;
    
    
    /* border: solid 5px red; */
}
.continuar{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1%;
}

.input2 {
    border: none;
    border-bottom: 2px solid #A8A8A8;
    height: 40px;
    width: 700px;
    /* border-radius: 7px; */
    text-align: center;
    background-color: #a8a8a800;
    font-family: PlexRegular;
    font-size: 20px;
    color: white;
}

.button2 {
    font-family: Inter;
    height: 50px;
    width: 250px;
    border-radius: 70px;
    background: #7D7DFF;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.786);
    color: white;
    margin: 20px;
    z-index: 99;
}

