.list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1em;
}

.dayButton {
    width: 5em;
    height: 2.5em;
    border-radius: 0.95em;
    border: none;
    margin: 0.31em;
    color: #a8a8a8;
    cursor: pointer;
  }
  
  .dayButton:hover {
    background-color: #7D7DFF55;
  }
  
  .buttonActive {
    background-color: #7D7DFF;
    color: white;
  }